{% extends "layout.html" %}

{% block title %}Login Challenge{% endblock %}

{% block content %}

{{super()}}

<div id="banner">
    <img src="static/seshlogo.png">
    <div class="flexcol">
        <h1>Can you hack this site?</h1>
        <h2>Win a box of chocolates!</h2>
    </div>
</div>

<div id="form" class="flexcol">
    <form action="/verify-login" method="post" id="password" class="flexcol">
        <label for="password">Enter Password</label>
        <input name='password' type='password'></input>
        <input type="submit" value="Submit" class="submit">
    </form>
    <form id="reset" class="flexcol">
        <button>Forgot Password?</button>
        </form>
    </form>
</div>

{% endblock %}

{% block footer %}

{{super()}}

{% endblock %}