{% extends "layout.html" %}

{% block title %}Login Challenge{% endblock %}

{% block content %}

{{super()}}

<script>
    $(function() {
        $('button#forgot').bind('click', function() {
        $.post('/reset-password', {
            new_password: '',
            security_answer: $('input[name="sec"]').val()
        }, function(data) {
            // $("#result").text(data.result);
            // console.log(data);
            if (data.correct == "true") {
                console.log("yep");
                $('<label for="">Answer correct! Input new password</label><br>').appendTo("#response");
                $('<input name="new_password"></input>').appendTo("#response");
                $('<button id="new">Submit New Password</button>').appendTo("#response");

                $(function() {
                    $('button#new').bind('click', function() {
                    $.post('/reset-password', {
                        new_password: $('input[name="new_password"]').val(),
                        security_answer: ''
                    }, function(data) {
                        console.log(data);
                    });
                    return false;
                    });
                });
            }
        });
        return false;
        });
    });
    
</script>

<div id="banner">
    <img src="static/seshlogo.png">
    <div class="flexcol">
        <h1>Can you hack this site?</h1>
        <h2>Win a box of chocolates!</h2>
    </div>
</div>

<div id="form" class="flexcol">
    <form action="/verify-login" method="post" id="password" class="flexcol">
        <label for="password">Enter Password</label>
        <input name='password' type='password'></input>
        <input type="submit" value="Submit" class="submit">
    </form>
    <form id="reset" class="flexcol">
        <label>Forgot Password?</label>
        <label for=sec>Security Question: What is your favourite food?</label>
        <input type=text size=5 name=sec value="Security Answer">
        <button id="forgot">Submit</button>
    </form>
    <!-- <span id=result>?</span> -->
    <div id="response"></div>
</div>

{% endblock %}

{% block footer %}

{{super()}}

{% endblock %}